---
---

// COLORS
$darkBlue: #1D428A;
$lightBlue: #e8f0ff;
$swedishGray: #7a7d81;
$swedishGreenBlue: #159aaa; // 189aaa
$linkInverted: #80acff;
$hejarePink: #fcafc0;

body {
  font-family: Avenir, Futura, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background-color: #fff;
  font-size: 112.5%; // corresponds to 18px
}

h1, h2, h3, h4, h5, h6 {
  font-family: Avenir, Futura, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h4 {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

@media print, screen and (min-width: 40em) {
  .h4 {
    font-size: 1.5625rem;
  }
}

.top-bar {
  position: fixed;
  font-size: 1.4rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: appear 0.5s;

  @media (max-width: 1100px) {
    justify-content: space-around;
    flex-direction: column;
    font-size: 1rem;
  }

  @media (max-width: 400px) {
    font-size: 0.8rem;
  }

  a {
    color: $darkBlue;
  }

  .logotype path {
    fill: $darkBlue;
  }
}

.top-bar.sticky {
  background: rgba(255,255,255,0.86);
}

.top-bar ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  max-width: 100%;

  @media (min-width: 1100px) {
    justify-content: flex-end;
  }
}

.top-bar ul li {
  position: relative;
  list-style: none;
  min-width: 0;
  text-align: center;
  padding: 0 10px;

  @media (min-width: 1100px) {
    flex: auto;
    padding: 0 20px;
  }
}

.top-bar ul li a {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: transparent;
}

.top-bar ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  background: currentColor;
  width: 0;
}
.top-bar ul li a:hover:after {
  width: 100%;
  left: 0;
}

.top-bar .logotype {
  width: 126px;
  height: 60px;
  margin: 1em 2em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  
  @media (max-width: 1100px) {
    margin: 1em;
    width: 90px;
    height: 42px;
  }

  @media (max-width: 640px) {
    width: 70px;
    height: 32px;
  }
}

h1 {
  font-size: max(2vw, 40px);

  @media (max-width: 640px) {
    font-size: 2rem;
  }
}

// What we are
.what-we-are {
  overflow: hidden;
  margin-bottom: 0;

  h1, h2, h3, h4, h5, h6 {
    word-break: break-word;
    font-weight: 700;
    color: white;
  }

  @media (max-width: 900px) {
    h1 {
      font-size: 2rem;
    }
  } 

  em.nice {
    color: $hejarePink;
  }



  &.callout.large {
    /* override foundation */
    border: none;
    border-radius: 0;

    height: 75vh;
    padding-top: 38vh;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;

    @keyframes appear {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    .callout__image {
      opacity: 0;
      background-image: url('./../images/hejare-gotland.jpg');

      &, &:after {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    }

    &.full {
      .callout__image {
        animation: appear 0.3s;
        animation-fill-mode: forwards;
      }

      .callout__image:after {
        content: " ";
        background-image: url('./../images/hejare-gotland.jpg');
      }
    }

    .callout__text {
      z-index: 1;
    }

    @media (max-width: 900px) {
      padding-top: 38vh;
    }

    @media (max-width: 400px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    // target iOS & ipad OS since it does not support background-attachment: fixed
    @supports (-webkit-touch-callout: none) {
      background-attachment: scroll;
    }

    &:after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      aspect-ratio: 15 / 2;
      background-image: url('./../images/wave-callout.svg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 60% 100%;
    }
  }
}

.cloud {
  display: flex;
  align-self: center;
  margin-bottom: 5em;
  animation: float 2.5s ease-in-out alternate infinite;
  position: absolute;
  padding: 1em;
  margin-left: 0.4em;
  top: 5vh;
  left: 30vw;
  z-index: 1;
  &-back{
    scale: 1.05;
    animation: floatback 2.5s ease-in-out alternate infinite;
  }
  @media (max-width: 1100px) {
    top: 15vh;
    left: unset;
    right: 5vw;
    scale: 0.8;
    &-back{
      scale: 0.85;
      right: 3vw;
    }
  }
  @media (max-width: 414px) {
    scale: 0.7;
    top: 20vh;
    &-back{
      right: 1vw;
    }
  }
  @media (max-width: 375px) { // Iphone SE and shorter screens
    scale: 0.6;
    top: 15vh;
  }


}

@keyframes float {
  0% {
    transform: translate(0,0.8em);
  }
  50% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0, 0.8em);
  }
}

@keyframes floatback {
  0% {
    transform: translate(0, 0.8em);
  }
  50% {
    transform: translate(0,0.2em);
  }
  100% {
    transform: translate(0, 0.8em);
  }
}

// Contact section
.contact {
  background-image: url('../images/wave.svg');
  margin-bottom: 20px;
  background-size: cover;
  min-height: 300px;
  height: 18vw;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0px 20px 0px;

  a {
    color: $linkInverted;
  }
}

// Bragging
.gasell {
  background-color: $darkBlue;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 1rem;

  .row {
    div {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 460px) {
        flex-direction: column;
       }

      h4 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
  }
}

.gasell-content-wrapper > img {
 margin-bottom: 1rem;
}

.gasell-text {
  @media (min-width: 460px) {
    &::before {
      padding: 0 0.8rem 0 0;
    }
    &::after {
      content: "🎉";
      padding: 0 0 0 1rem;
    }
  }

  @media (max-width: 459px) {
    &::after {
      content: "\A ✌️ 😍  🎉";
      white-space: pre;
    }
  }
}

// Who we are
.who-we-are {
  .techie {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;

    &_description {
      background: $lightBlue;
      padding: 1em;
      border-radius: 1rem;
    }
  }

  .tagline {
    font-size: 0.8888em; // 16px
    margin-bottom: 0;
  }

  .techie .portrait {
    float: right;
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 0.6rem #ffffff;

    width: 9rem;
    margin-top: -3rem;
    margin-right: -5rem;

    @media (max-width: 640px) {
      width: 7rem;
      margin-top: -3rem;
      margin-right: -1rem;
    }
  }
}

// What we are doing
.figure-container {
  @media (max-width: 640px) {
    margin-top: 2rem;

    img {
      max-width: 160px;
    }
  }
}

.what-we-are-doing {
  margin-bottom: 4em;

  @media (max-width: 640px) {
    justify-content: center;

    .case-text {
      margin-left: auto;
      margin-right: auto;

      background: $lightBlue;
      padding: 1em;
      border-radius: 1rem;
    }
  }

  .case {
    margin-top: 1rem;

    @media (min-width: 640px) {
      margin-top: 3rem;
    }
  }

  .figure {
    width: 60%;
    margin-bottom: 1em;
  }
}

.case-parking {
  margin-right: -10%;
}

.case-machine-learning {
  margin-left: -10%;
}

// Other stuff
.section-header {
  margin-top: 4em;

  @media (max-width: 640px) {
    justify-content: center;
  }
}

hr {
  border-bottom: 1px solid $swedishGreenBlue;
  margin-top: 2em;
  margin-bottom: 2em;
}

// Typed.js
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Footer
.footer {
  background-image: url('./../images/wavy-footer.svg');
  background-repeat: repeat-x;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 4rem;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 4rem;
    background-color: $darkBlue;
  }

  .small-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
  }

  @media (max-width: 640px) {
    padding-left: 1rem;
    padding-right: 1rem;

    .small-12 {
      padding-top: 6rem;
    }
  }

  p {
    &.slogan {
      color: $swedishGray;
      font-size: 2.0rem;
      margin: 0 0 1rem;

      @media (max-width: 640px) {
        font-size: 1.5rem;
      }
    }

    &.copywrite {
      color: rgba(255, 255, 255, 53%);
      font-size: 0.875rem;
      margin: 0;
    }
  }

  .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0;

    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }

    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}

footer h4 {
  color: #e5e5e5;
  font-weight: 100;
  margin-bottom: 0.25rem;
}

footer h4 {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (max-width: 400px) {
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  &:before {
    font-family: "foundation-icons";
    font-weight: 300;
    font-size: 3rem;
    color: $linkInverted;
    padding-left: 0.5rem;
    padding-right: 1.65rem;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $linkInverted;
  }

  &.phone:before {
    content: "\f1f8";
  }

  &.email:before {
    content: "\f16d";
  }

  &.address:before {
    display: flex;
    flex-direction: column;
    content: "\f172 ";
  }

  &.address {
    display: flex;
    flex-direction: column;
    content: "\f172 ";

    @media (max-width: 640px) {
      flex-direction: row;
      align-items: center;
    }
  }
}
