---
---

// COLORS
$swedishYellow: #f7ea48; // f7ea4c
$swedishDarkBlue: #233747;
$swedishGray: #7a7d81;
$swedishGreenBlue: #159aaa; // 189aaa
body {
  font-family: Avenir, Futura, sans-serif;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Avenir, Futura, sans-serif;
}

.top-bar {
  position: fixed;
  font-size: max(1.5vw, 12px);
  top: 0;
  left: 0;
  width: 100%;
  alignment: center;
  transition: 0.5s;
  z-index: 9999;
  background-color: transparent;
  display: flex;
  padding-top: 40px;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 700px) {
    justify-content: space-around;
  }
}

.top-bar.sticky {
  transition: 0.5s;
  font-size: max(0.8vw, 8px);
  // None linear gradient hack, use Bezier curves to smooth out the hard line :)
  background: linear-gradient(
                  hsl(0, 0%, 0%) 0%,
                  hsla(0, 0%, 0%, 0.738) 9%,
                  hsla(0, 0%, 0%, 0.541) 24%,
                  hsla(0, 0%, 0%, 0.382) 37%,
                  hsla(0, 0%, 0%, 0.278) 46.5%,
                  hsla(0, 0%, 0%, 0.194) 55%,
                  hsla(0, 0%, 0%, 0.126) 63%,
                  hsla(0, 0%, 0%, 0.075) 70.2%,
                  hsla(0, 0%, 0%, 0.042) 76.1%,
                  hsla(0, 0%, 0%, 0.021) 81%,
                  hsla(0, 0%, 0%, 0.008) 85.2%,
                  hsla(0, 0%, 0%, 0.002) 95.2%,
                  hsla(0, 0%, 0%, 0) 100%
  );
}

.top-bar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: 900px) {
    justify-content: space-between;
  }
}

.top-bar ul li {
  position: relative;
  list-style: none;
}

.top-bar ul li a {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: transparent;
  font-weight: 500;
  transition: 0.5s;
}

.top-bar ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  background: #fff;
  width: 0;
}
.top-bar ul li a:hover:after {
  width: 100%;
  left: 0;
}

.top-bar .logotype {
  width: max(10vw, 50px);
  margin: 2em;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: max(2vw, 40px);
}

// What we are
.what-we-are {

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: white;
  }

  margin-bottom: 2em;

  em.nice {
    color: $swedishYellow;
  }

  &.callout.large {
    height: 75vh;
    padding-top: 35vh;
    background-image: url('./../images/hero_hejare.png'), linear-gradient(transparent, #807f7f 0%, transparent);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
  }
}

// Who we are
.who-we-are {
  .techie {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .tagline {
    max-width: 24em;
  }

  .techie .portrait {
    width: 10em;
    border: 2px solid $swedishGreenBlue;
    border-radius: 100%;
    margin-bottom: 1.5em;
  }
}

// What we are doing
.figure-container {
  text-align: center;
}

.what-we-are-doing {
  margin-bottom: 4em;

  .case {
    margin-top: 1em;
  }

  .figure {
    width: 50%;
    margin-bottom: 1em;
  }
}

// Other stuff
hr {
  border-bottom: 1px solid $swedishGreenBlue;
  margin-top: 2em;
  margin-bottom: 2em;
}

// Typed.js
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Footer
.footer {
  background-color: $swedishDarkBlue;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  padding: 4rem;

  p {
    &.slogan {
      color: $swedishGray;
      font-size: 2.0rem;
      margin: 0 0 1rem;
    }

    &.copywrite {
      color: #8f9296;
      font-size: 0.875rem;
      margin: 0;
    }
  }

  .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0;

    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }

    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}

footer h4 {
  color: #e5e5e5;
  font-weight: 100;
  margin-bottom: 0.25rem;
}

footer h4 {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:before {
    font-family: "foundation-icons";
    font-weight: 300;
    font-size: 3rem;
    color: $swedishGreenBlue;
    padding-left: 0.5rem;
    padding-right: 1.65rem;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $swedishGreenBlue;
  }

  &.phone:before {
    content: "\f1f8";
  }

  &.email:before {
    content: "\f16d";
  }

  &.address:before {
    display: flex;
    flex-direction: column;
    content: "\f172 ";
  }

  &.address {
    display: flex;
    flex-direction: column;
    content: "\f172 ";
  }
}
