

<div class="callout large what-we-are">
  <div class="cloud-callout">
    <img src="images/cloud-back.svg" width="200" height="200" alt="Gasell" id="cloud-back"/>
    <img src="images/cloud-front.svg" width="200" height="200" alt="Gasell" id="cloud-front"/>

  </div>


  <div class="row column" markdown="1">
    {{ callout }}
  </div>
</div>

<!-- <div class="gasell">
  <div class="row">
    <div class="small-12 columns gasell-content-wrapper">
      <div>
        <img src="images/gasell.svg" width="55" height="55" alt="Gasell" />
      </div>
        <h4 class="gasell-text">Hejare är utnämnt till Gasellföretag 2022!</h4>
    </div>
  </div>
</div> -->

<div class="row column section-header" id="portfolio">
  <h1>Case i urval</h1>
</div>

<div class="row column what-we-are-doing" aria-label="Case i urval">
  {% for case in site.data.cases %}
  <div class="case row">
    <div class="figure-container column small-12 medium-4 large-3">
      <img src="images/{{ case.image }}" class="figure {{ case.class }}" alt="{{ case.name }}" />
    </div>
    <div class="column small-12 medium-7 large-8">
      <div class="case-text">
        <h3>{{ case.name }}</h3>
        <p>{{ case.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="contact" id="contact">
  <div class="row">
    <div class="small-12 columns center">
      <h4 class="slogan">Är du en hejare på något? Hör av dig!</h4>
      <h4 class="email"><a href="mailto:{{ site.data.company.email }}">{{ site.data.company.email }}</a></h4>
      <h4 class="phone"><a href="tel:{{ site.data.company.phone }}">{{ site.data.company.phone }}</a></h4>
    </div>
  </div>
</div>



<div class="row column section-header" id="the-team">
  <h1>Vi är hejare</h1>
</div>

<div class="row small-up-1 medium-up-2 large-up-2 who-we-are" id="who-we-are">

  {% for employee in site.data.employees %}
  <div class="column column-block techie">
    {% if employee.altImageName != null %}
      <img src="images/employees/{{ employee.altImageName }}" class="portrait float-center" alt="{{ employee.name }}">
    {% else %}
      <img src="images/employees/{{ employee.name }}.jpg" class="portrait float-center" alt="{{ employee.name }}">
    {% endif %}
    <h3 class="name text-center">{{ employee.name }}</h3>
    <p class="tagline float-center">{{ employee.tagline }}</p>
  </div>
  {% endfor %}

</div>
