<!doctype html>
<html class="no-js" lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Vi är hejare - Ett gäng nyfikna techies som får saker gjorda och har kul när vi jobbar. Vi levererar IT-tjänster med integritet, humor och engagemang.">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="preload" as="image" href="images/hero-hejare-2-lo.webp" imagesrcset="images/hero-hejare-2.webp 2170w" imagesizes="100vw">
    <link rel="preload" as="image" href="images/wave-callout.svg" imagesrcset="images/wave-callout.svg 1500w" imagesizes="100vw">
    <link rel="preload" as="script" href="js/load-hero.js">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" /> -->
   </head>
  <body onload="randomizeWhoWeAre()">

    <!-- Start Top Bar -->
    <div class="top-bar" id="top-bar">
      <div class="logotype" id="logo" onclick="goToTop()">
        <img src="images/hejare_logotyp.svg" alt="">
      </div>
        <ul>
          <li><a href="#portfolio">Projekt</a></li>
          <li><a href="#contact">Kontakt</a></li>
          <li><a href="#the-team">Möt alla hejare</a></li>
        </ul>
    </div>

    <!-- Top bar scripts -->
    <script src="js/sticky-top-bar.js"></script>
    <script src="js/go-home.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
    <script src="js/load-hero.js" defer></script>

    <!-- End Top Bar -->

    {{ content }}

    <!-- Footer -->

    <footer class="footer">
      <div class="row">
        <div class="small-12 columns">
          {% if site.data.company.address != undefined %}
          <p class="h4 address">{{ site.data.company.address | replace: ',', '<br/>'  }}</p>
          {% endif %}
          <p class="copywrite">Crafted with love by incredible techies at Hejare 2023</p>    
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
    <script src="js/vendor/typed.min.js"></script>
    <script src="js/utils.js"></script>

    <script>
      $(document).foundation();

      var skills = {{ site.data.skills | jsonify }};

      skills[skills.length - 1] += "^5000";
      skills.push("");

      jQuery.fn.cleanWhitespace = function() {
        textNodes = this.contents().filter(
            function() { return (this.nodeType == 3 && !/\S/.test(this.nodeValue)); })
            .remove();
        return this;
      }

      var humanize = Math.round((Math.random() * 100) + 20);

      var typedText = $('.what-we-are .already-typed');
      var intrvl;

      function backspace() {
        var word = typedText.text();
        var wordLength = word.length;
        var newWordLength = wordLength - 1;
        var newWord = word.slice(0, newWordLength);
        typedText.html(newWord);

        if (newWord === "Vi är") {
          clearTimeout(intrvl);

          $("<em class=\"nice\">").insertBefore(".typed-cursor")
          $(".typed-cursor").remove();

          $(".what-we-are em:last").typed({
            strings: ["^2000 snälla"],
            typeSpeed: 300,
          })
        } else {
          newWordLength = wordLength;
        }
      }
      
      $(function(){
        $(".what-we-are em:last").typed({
          strings: skills,
          typeSpeed: 100,
          startDelay: 1500,
          //shuffle: true,
          callback: function() {
            $(".what-we-are em:last").remove();
            intrvl = setInterval(backspace, humanize);
          }
        });
        $(".typed-cursor").attr("aria-hidden", "true")
      });

    </script>
  </body>
</html>
